<link rel="shortcut icon" href="/assets/images/app-logo.svg">

<link rel="stylesheet" href="/assets/css/portal.css" media="all">
<div th:replace="~{layouts/header :: header}"></div>
<div class="app-wrapper">

	<div class="app-content pt-3 p-md-3 p-lg-4">
		<div class="container-xl">

			<div class="row g-3 mb-4 align-items-center justify-content-between">
				<div class="col-auto">
					<h1 class="app-page-title mb-0">
						Loại sản phẩm (<span th:text="${count}"></span>)
					</h1>
				</div>

				<div class="col-auto">
					<a th:href="@{/categories/create}" class="btn app-btn-secondary">
						<i class="fa fa-plus"></i> Thêm loại sản phẩm
					</a>
				</div>
			</div>

			<!-- Search -->
			<form class="table-search-form row gx-1 align-items-center"
				method="get">
				<div class="col-auto">
					<input type="text" name="keyword" th:value="${keyword}"
						class="form-control" placeholder="Tìm kiếm...">
				</div>

				<div class="col-auto">
					<button type="submit" class="btn app-btn-secondary">Tìm
						kiếm</button>
				</div>
			</form>

			<!-- Table -->
			<div class="app-card app-card-orders-table shadow-sm mb-5 mt-3">
				<div class="app-card-body">
					<div class="table-responsive">

						<table class="table app-table-hover mb-0 text-left">

							<thead>
								<tr>
									<th>ID</th>
									<th>Tên danh mục</th>
									<th>Hành động</th>
								</tr>
							</thead>

							<tbody>

								<tr th:each="cat, stat : ${categories}">

									<td th:text="${stat.index + 1 + (page-1)*5}"></td>

									<td th:text="${cat.name}"></td>

									<td><a class="btn-sm app-btn-secondary"
										th:href="@{/categories/edit/{id}(id=${cat.id})}"> Sửa </a> <a
										class="btn-sm app-btn-secondary"
										th:href="@{/categories/delete/{id}(id=${cat.id})}"
										onclick="return confirm('Bạn có chắc muốn xóa?')"> Xóa </a></td>

								</tr>

							</tbody>

						</table>

					</div>
				</div>
			</div>

			<!-- Pagination -->
			<nav class="app-pagination">
				<ul class="pagination justify-content-end">

					<li class="page-item" th:if="${page > 1}"><a class="page-link"
						th:href="@{/categories(page=${page-1},keyword=${keyword})}"> «
					</a></li>

					<li class="page-item"
						th:each="i : ${#numbers.sequence(1,totalPages)}"
						th:classappend="${i==page}? 'active'"><a class="page-link"
						th:href="@{/categories(page=${i},keyword=${keyword})}"
						th:text="${i}"> </a></li>

					<li class="page-item" th:if="${page < totalPages}"><a
						class="page-link"
						th:href="@{/categories(page=${page+1},keyword=${keyword})}"> »
					</a></li>

				</ul>
			</nav>

		</div>
	</div>
</div>

